.wrapper {
  width: 1240px;
  margin: 0px auto;
  margin-top: 264px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 860px;
}
.nav {
  width: 320px;
}
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 64px;
  transition: var(--common-transition);
}
.link:hover {
  color: var(---text-primary-color);
}
.link--active {
  color: var(---text-primary-color);
}
.text {
  opacity: 0.4;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  left: 760px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 6);
}
