.burger-constructor{
	margin: calc(var(--offset-base-size) * 25) auto calc(var(--offset-base-size) * 10) auto;
	width: 600px;
	box-sizing: border-box;
} 
.footer{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: calc(var(--offset-base-size)*10);
}
.onHover{
	border: 1px dotted var(--colors-interface-accent);
	border-radius: var(--common-border-radius-s);
}
.noHover{
	border: 1px solid var(--background-alt);
}