.wrap {
  height: 64px;
  width: 608px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--offset-base-size) * 4);
}
.icon {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0);
  background: linear-gradient(var(--background-alt) 0 0) padding-box,
    linear-gradient(90deg, #9408b4 6.1%, #0a1f94 112.48%) border-box;
}
.icon img {
  display: block;
  height: 100%;
  border-radius: 100%;
  position: relative;
  left: -50%;
}
.text {
  width: 414px;
}
.price {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--offset-base-size) * 2);
}
