.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(var(--offset-base-size) * 6);
  padding: calc(var(--offset-base-size) * 6);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background);
  border-radius: var(--common-border-radius-s);
}
.info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: calc(var(--offset-base-size) * 2);
}
.data-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--offset-base-size) * 6);
  width: 100%;
}
.price {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--offset-base-size) * 2);
}
.link {
  text-decoration: none;
  color: var(---text-primary-color);
  width: 100%;
}
.icons {
  display: inline-flex;
  flex-direction: row-reverse;
}
.icon {
  position: relative;
  width: 64px;
  height: 64px;
  border: 2px solid rgba(255, 255, 255, 0);
  background: linear-gradient(var(--background-alt) 0 0) padding-box,
    linear-gradient(25deg, #9408b4 6.1%, #0a1f94 112.48%) border-box;
  border-radius: 100%;
  overflow: hidden;
  z-index: 2;
}
.icon:not(:last-child) {
  margin-left: -16px;
}
.icon img {
  height: 100%;
  position: relative;
  left: -50%;
  background-color: var(--background-alt);
}
.icon-last img {
  z-index: 0;
}
.icon-last span {
  background: #1c1c2199;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}
