.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 720px;
}
.cross {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
