.wrapper {
  width: 1240px;
  margin: 0px auto;
  margin-top: 264px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 860px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  left: 760px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 6);
}
.footer {
  display: flex;
  justify-content: flex-end;
}
