.main {
  width: 100%;
  max-width: 1240px;
  margin: 0px auto;
  margin-top: 128px;
}
.wrap {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  gap: calc(var(--offset-base-size) * 10);
  width: 1240px;
}
