.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(var(--offset-base-size) * 6);
  width: 844px;
  min-height: 246px;
  padding: calc(var(--offset-base-size) * 6);
  box-sizing: border-box;
  background-color: var(--background);
  border-radius: 40px;
  overflow: hidden;
}
.info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  height: 62px;
  gap: calc(var(--offset-base-size) * 2);
}
.data-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--offset-base-size) * 6);
  width: 796px;
}
.price {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--offset-base-size) * 2);
}
