.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(var(--offset-base-size) * 6);
  padding: calc(var(--offset-base-size) * 6);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background);
  border-radius: var(--common-border-radius-s);
}
.info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: calc(var(--offset-base-size) * 2);
}
.data-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--offset-base-size) * 6);
  width: 100%;
}
.price {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--offset-base-size) * 2);
}
